body {
  background-color: #2c3e50;
  display: flex;
  align-items: center;
  height: 100vh;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.task-buttons {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.container {
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex: 0 0 50%;
  height: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul.js-toDoList {
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  flex: 0 0 0;
  min-width: 60%;
}

ul.js-toDoList li {
  margin-left: -40px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: thistle solid 2px;
}

ul.js-toDoList li button {
  background-color: thistle;
  margin-top: 5px;
  margin-bottom: 5px;
}

#taskInput,
#nameInput {
  text-align: center;
}
